/* PAGE HEADER STYLES */
.page-header {
    padding: 16px 0;
    text-align: center;
}

.page-header h1 {
    font-weight: 600;
}

/* NAVIGATION */

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white; !important;
}

/* Image zoom effect on hover */
.destination-image {
    transition: transform 0.5s;
}
        
.destination-card:hover .destination-image {
    transform: scale(1.05);
}

/* Carousel Container */
.sliders {
  position: relative;
  overflow: hidden;
}

.sliders > .carousel-inner {
  height: 100vh; 
}

.carousel-img {
  width: 100%;
  height: 100vh; /* match the carousel-inner height */
  object-fit: cover; /* keeps evenly */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:

